CodeChunks.db
CodeChunks.db-shm
CodeChunks.db-wal
SemanticSymbols.db
SemanticSymbols.db-shm
SemanticSymbols.db-wal
.dtbcache.v2
cb6d7ee7-0f26-49a9-a993-15903630a372.vsidx
.futdcache.v2
.suo
DocumentLayout.backup.json
DocumentLayout.json
c#learn.metadata.v9.bin
c#learn.projects.v9.bin
c#learn.strings.v9.bin
C#Learn.deps.json
C#Learn.dll
C#Learn.exe
C#Learn.pdb
C#Learn.runtimeconfig.json
C#Learn.csproj.nuget.dgspec.json
C#Learn.csproj.nuget.g.props
C#Learn.csproj.nuget.g.targets
.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
C#Learn.AssemblyInfo.cs
C#Learn.AssemblyInfoInputs.cache
C#Learn.GeneratedMSBuildEditorConfig.editorconfig
C#Learn.GlobalUsings.g.cs
C#Learn.assets.cache
C#Learn.csproj.BuildWithSkipAnalyzers
C#Learn.csproj.CoreCompileInputs.cache
C#Learn.csproj.FileListAbsolute.txt
C#Learn.genruntimeconfig.cache
apphost.exe
project.assets.json
project.nuget.cache
